
#principal {
    width: 100%;
    height: 210em;
    background:rgb(255, 255, 255); 

}

#cabecera {
    width: 100%;
    height: 10%;
    background:rgb(255, 255, 255); 
    position: relative;
    
}

#menu {
    width: 100%;
    height: 3em;
    background:rgb(234, 229, 235); 
    position: relative;

}

#introducción {
    width: 90%;
    height: 10em;
    background:rgb(255, 255, 255); 
    position: relative;
    border: 5px dashed rgba(199, 198, 198, 0.568);
    top: 1%;
    left: 5%;
}

#contenido1 {
    width: 90%;
    height: 60em;
    background:rgb(255, 255, 255); 
    position: relative;
    top: 18px;
    left: 5%;
}

#contenido2 {
    width: 90%;
    height: 67em;
    background:rgb(255, 255, 255); 
    position: relative;
    top: -9px;
    left: 5%;

}

#contenido3 {
    width: 90%;
    height: 45em;
    background:rgb(255, 255, 255); 
    position: relative;
    top: -27px;
    left: 5%;

}

h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 90px;
    position: relative;
    top: -275px;
    text-align: center;
    
    
}

#imgcabecera {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    left: 0%;

}

#tablamenú {
    width: 100%;
    height: 100%;
    border: 1px dotted rgb(167, 167, 167);
    
}

#menu1 {

   width: -1%;
   font-family: Arial, Helvetica, sans-serif;
   font-style: oblique;
   font-size: 18px;
   text-align: center;
   border: 1px dotted rgb(167, 167, 167);
   padding: 0.5em;
}
#menu2 {

    width: -1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 18px;
    text-align: center;
    border: 1px dotted rgb(167, 167, 167);
    padding: 0.5em;
 }
 #menu3 {

    width: -1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 18px;
    text-align: center;
    border: 1px dotted rgb(167, 167, 167);
    padding: 0.5em;
 }

 #link1 {
    color: black;
    text-decoration: none;
 }

 #int {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 98%;
    height: 20%;
    position: relative;
    text-align: justify;
    top: 1%;
    left: 1%;

}

h2, #materiales {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 30px;
    color: rgb(96, 22, 105);
    position: relative;
    top: 3%;
    text-align: center;
    
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 16px;
    position: relative;
    top: 6%;
    left: 1%;
    text-align: justify;
}

#cm {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 98%;
    height: 3%;
    position: relative;
    text-align: justify;
    top: 5%;
    left: 1%;
}

#tablam {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 48%;
    height: 6%;
    background-color: rgb(229, 184, 238);
    position: relative;
    text-align: center;
    top: 5%;
    left: 25%;
}

td {
    border: 2px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 28%;
    height: 6%;
    position: relative;
    text-align: center;
}

#imgp {
    float: left;
    width: 20%;
    height: 18%;
    top: 6%;
    position: relative;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 60px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 99%;
    height: 6%;
    position: relative;
    text-align: justify;
    top: 10%;
    left: -1%;
}

#mp {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 98%;
    height: 9%;
    position: relative;
    text-align: justify;
    top: 6%;
    left: -2%;
}

#mg {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 16px;
    position: relative;
    top: 0%;
    left: 1%;
    text-align: justify;
}

#gdb {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 98%;
    height: 3%;
    position: relative;
    text-align: justify;
    top: 0%;
    left: 1%;
}

#proporciones {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 30px;
    color:rgb(96, 22, 105);
    position: relative;
    top: 3%;
    text-align: center;
}

#prop {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 98%;
    height: 3%;
    position: relative;
    text-align: justify;
    top: 5%;
    left: 1%;
}

#imgm {
    width: 40%;
    height: 18%;
    top: 4%;
    left: 30%;
    position: relative;
}

#mpl {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 16px;
    position: relative;
    top: 5%;
    left: 1%;
    text-align: justify;
}

#imgl {
    width: 90%;
    height: 18%;
    top: 8%;
    left: 5%;
    position: relative;
}

article {
    width: 60%;
    height: 12em;
    background:rgba(255, 221, 255, 0.76); 
    position: relative;
    border: 5px dashed rgba(180, 180, 180, 0.589);
    top: 11%;
    left: 20%;
}

#enc {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 70%;
    height: 2%;
    position: relative;
    text-align: justify;
    top: 2%;
    left: 2%; 
}

#encajar {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 68%;
    height: 2%;
    position: relative;
    text-align: justify;
    top: 6%;
    left: 2%;
}

#imge {
    width: 25%;
    height: 80%;
    top: -18%;
    left: 73%;
    position: relative;
}

#lys {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    width: 98%;
    height: 5%;
    position: relative;
    text-align: justify;
    top: 5%;
    left: 1%;
}

#imglys {
    width: 25%;
    height: 25%;
    top: 5%;
    left: 35%;
    position: relative;
}
